{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

    <main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> My Account
                </div>
            </div>
        </div>
        <div class="page-content pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="fi-rs-user mr-10"></i>Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="feedback-tab" data-bs-toggle="tab" href="#feedback" role="tab" aria-controls="feedback" aria-selected="false"><i class="fi-rs-envelope mr-10"></i>Feedback</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'userauths:sign-out'%}"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="tab-content account dashboard-content pl-50">
                                    <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="card">
                                            <div class="card-header border-bottom">
                                                <h3 class="mb-0">My Profile</h3>
                                            </div>
                                            <div class="card-body mb-2" style="display: flex; align-items: center; gap: 10px;">
                                                <div>
                                                    {% if user_profile.image %}
                                                    <span><img src="{{ user_profile.image.url }}" style="width: 150px; object-fit: cover; border-radius:50%; height:150px;" alt=""></span>
                                                    {% else %}
                                                    <span><img src="" style="width: 150px; object-fit: cover; border-radius:50%; height:150px;" alt=""></span>
                                                    {% endif %}
                                                </div>

                                                <div>
                                                    <span><input class="mb-2" type="text" value="Name - {{ user_profile.full_name }}"></span>
                                                    <span><input class="mb-2" type="text" value="Bio - {{ user_profile.bio }}"></span>
                                                    <span><input class="mb-2" type="text" value="Phone - {{ user_profile.phone }}"></span>
                                                    {% if user_profile.verified == True %}
                                                    <div class="p-4 border rounded">
                                                        <span>Verified</span> <span> <i class="fas fa-check-circle"></i> </span>
                                                    </div>
                                                    {% else %}
                                                    <div class="p-4 border rounded">
                                                        <span>Not verified </span> <span> <i class="fas fa-x"></i> </span>
                                                    </div>
                                                    {% endif %}
                                                    <div class="p-4 border rounded">
                                                        <a href="{% url 'userauths:profile-update' %}" class="btn btn-succees">Edit Profile</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="mb-0">Hello {{request.user|title}}!</h3>
                                            </div>
                                            <div class="card-body">
                                                <p>
                                                    From your account dashboard. you can easily check &amp; view your <a>recent orders</a>
                                                </p>
                                            </div>
                                            <div style="height: 800px; width: 800px; object-fit: cover;">
                                                <canvas id="myChart"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="mb-0">Your Orders</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Order</th>
                                                                <th>Date</th>
                                                                <th>Status</th>
                                                                <th>Paid Status</th>
                                                                <th>Total</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for o in orders_list %}
                                                            <tr>
                                                                <td>INVOICE_NO-{{o.id}}</td>

                                                                <td>{{o.order_date}}</td>
                                                                <td>{{o.product_status|title}}</td>
                                                                {% if o.paid_status == True %}
                                                                <td class="text-success"><b>✓</b></td>
                                                                {% else %}
                                                                <td class="text-danger"><b><span>X</span></b></td>

                                                                {% endif %}
                                                                <td>RM{{o.price}}</td>
                                                                <td><a href="{% url 'core:order-detail' o.id %}" class="btn-small d-block">View</a></td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="feedback" role="tabpanel" aria-labelledby="feedback-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="mb-0">Your Feedback</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Full Name</th>
                                                                <th>Subject</th>
                                                                <th>Review</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for message in contact_messages %}
                                                            <tr>
                                                                <td>{{message.full_name}}</td>
                                                                <td>{{message.subject}}</td>
                                                                <td>{{message.review}}</td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>
        const labels = {{ month|safe }}

        const data = {
          labels: labels,
          datasets: [{
            label: 'Orders',
            backgroundColor: 'rgb(59, 183, 126)',
            borderColor: 'rgb(59, 183, 126)',
            data: {{ total_orders|safe }}
          }],

        };

        const config = {
          type: 'bar',
          data: data,
          options: {
            tooltips: {enabled: false},
            hover: {mode: null},
          }
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
      </script>

{% endblock content %}